<nav>
    <ul class="tabs">
        <li><a href="index.html">Главная</a></li>
        <li class="dropdown">
            <a href="#">Информация</a>
            <ul class="dropdown-content">
                <li><a href="rules.html">Правила</a></li>
                <li><a href="calibers.html">Калибры</a></li>
                <li><a href="rank.html">Ранг</a></li>
                <li><a href="anomalies.html">Аномалии</a></li>
                <li><a href="rent.html">Аренда Дома</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Инструменты</a>
            <ul class="dropdown-content">
                <li><a href="artifact_calc.html">Калькулятор артефактов</a></li>
                <li><a href="crafting.html">Верстак</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Предметы</a>
            <ul class="dropdown-content">
                <li><a href="gear.html">Одежда</a></li>
                <li><a href="knives.html">Ножи</a></li>
                <li><a href="artefacts.html">Артефакты</a></li>
                <li><a href="furniture.html">Фурнитура</a></li>
                <li><a href="detectors.html">Детекторы</a></li>
                <li><a href="medical.html">Медицина</a></li>
            </ul>
        </li>
               <li class="dropdown">
                   <a href="#">Гайды</a>
                   <ul class="dropdown-content">
                <li><a href="Radiation.html">Радиация</a></li>
                <li><a href="extension.html">Расширение ящика</a></li>
             </ul>
        </li>
    </ul>
</nav>